extends /config/template
append config
  -pageTitle = 'Electrobombas sumergibles'
  -pageDescription = 'Realizamos reparación, venta y mantenimiento de electrobombas sumergibles de agua en Trujillo.'
  -ogTitle = 'Electrobombas sumergibles | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/electrobombas-sumergibles.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/electrobombas.jpg'
  -ogImageAlt = 'Electrobombas sumergibles | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Electrobombas Sumergibles",
        "item": "https://elgeza.com/servicios/electrobombas-sumergibles.html"
      }]
    }
  +bannerAltern('/assets/img/banner-electrobombas.jpg', 'Electrobombas')
  main.service
    .service-container
      h3.service__title Sumergibles
      p.service__description Realizamos reparación, venta y mantenimiento de electrobombas sumergibles de agua en Trujillo. Trabajamos con las siguientes marcas: Grundfos, Siemens Pedrollo, Saer, Franklin Electric, Pleuger, Ksb, Caprari, Klygt. Brinda el servicio de mantenimiento preventivo y correctivo de bombas de agua, así como también a los tableros alternadores y de presión constante, con la finalidad de garantizar el funcionamiento constante y sin interrupciones de los equipos.
    .service-images
      h3.service-images__title Equipo técnico profesional altamente capacitado para ofrecerte un servicio de caldidad
      +imagesService('/assets/img/bombas-1.jpg', 'Electrobombas sumergibles', 'Electrobombas sumergibles')
      +imagesService('/assets/img/bombas-2.jpg', 'Electrobombas sumergibles', 'Electrobombas sumergibles')
      +imagesService('/assets/img/bombas-3.jpg', 'Electrobombas sumergibles', 'Electrobombas sumergibles')
      +imagesService('/assets/img/bombas-4.jpg', 'Electrobombas sumergibles', 'Electrobombas sumergibles')
      +imagesService('/assets/img/bombas-5.jpg', 'Electrobombas sumergibles', 'Electrobombas sumergibles', '70%')
  section.contact-us(style='--bg-image: url(/assets/img/bg-electrobombas-contact.jpg);')
    .contact-us-container
      p.contact-us__description <span class="contact-us__description--big">Contamos con herramientas y equipos profesionales</span> <br><span>Todo altamente adecuado para prestar este servicio<span>
      p.contact-us__numbers LLÁMANOS AL<br><span class="contact-us__numbers--big"><span>RPM: 998 006 273</span><span>RPC: 992 280 087</span></span>
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
