extends /config/template
append config
  -pageTitle = 'Instalaciones Eléctricas'
  -pageDescription = 'Montaje y mantenimiento de infraestructuras eléctricas mediante la aplicación de normativas y reglamentaciones vigentes, así como protocolos de calidad, seguridad y riesgos laborales.'
  -ogTitle = 'Instalaciones Eléctricas | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/instalaciones-electricas.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/instalaciones.jpg'
  -ogImageAlt = 'Instalaciones Eléctricas | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Instalaciones Eléctricas",
        "item": "https://elgeza.com/servicios/instalaciones-electricas.html"
      }]
    }
  +bannerAltern('/assets/img/instalaciones-banner.jpg', 'Servicios')
  main.service
    .service-container
      h3.service__title Instalaciones eléctricas
      p.service__description Nuestro objetivo es identificar y aplicar los principios tecnológicos de instalaciones eléctricas. Planificar las tareas de operación y tiempos de ejecución de Instalaciones Eléctricas. Organizar los materiales y equipos. Realizar tareas y procesos básicos para la prestación de servicios en reparación y ejecución de Instalaciones Eléctricas.
    .service-images
      h3.service-images__title Montaje y mantenimiento de infraestructuras eléctricas mediante la aplicación de normativas y reglamentaciones vigentes, así como protocolos de calidad, seguridad y riesgos laborales.
      +imagesService('/assets/img/instalaciones-1.jpg', 'Instalaciones eléctricas', 'Instalaciones eléctricas')
      +imagesService('/assets/img/instalaciones-2.jpg', 'Instalaciones eléctricas', 'Instalaciones eléctricas')
      +imagesService('/assets/img/instalaciones-3.jpg', 'Instalaciones eléctricas', 'Instalaciones eléctricas')
      +imagesService('/assets/img/instalaciones-4.jpg', 'Instalaciones eléctricas', 'Instalaciones eléctricas')
  section.contact-us(style='--bg-image: url(/assets/img/instalaciones-contact.jpg);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
