extends /config/template
append config
  -pageTitle = 'Paneles Solares'
  -pageDescription = 'Montaje y mantenimiento de infraestructuras eléctricas mediante el uso de paneles solares.'
  -ogTitle = 'Paneles Solares | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/instalaciones-electricas.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/instalaciones.jpg'
  -ogImageAlt = 'Paneles Solares | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Paneles Solares",
        "item": "https://elgeza.com/servicios/instalaciones-electricas.html"
      }]
    }
  +bannerAltern('/assets/img/servicios.png', 'Servicios')
  main.service
    .service-container
      h3.service__title Paneles solares
      p.service__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae neque sit eum, excepturi quo officia voluptate id iure incidunt, reprehenderit amet consequatur et rerum ex itaque aliquam. Quas, perferendis impedit dolorum fugit dolor nihil suscipit natus doloribus beatae harum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae neque sit eum, excepturi quo officia voluptate id iure incidunt, reprehenderit amet consequatur et rerum ex itaque aliquam. Quas, perferendis impedit dolorum fugit dolor nihil suscipit natus doloribus beatae harum?
  section.contact-us(style='--bg-image: url(/assets/img/elgeza.png);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
