extends /config/template
append config
  -pageTitle = 'Rebobinado de Motores'
  -pageDescription = 'Soluciones de inmediato a los motores de nuestros clientes.'
  -ogTitle = 'Rebobinado de Motores | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/rebobinado-de-motores.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/rebobinado.jpg'
  -ogImageAlt = 'Rebobinado de Motores | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Rebobinado de Motores",
        "item": "https://elgeza.com/servicios/rebobinado-de-motores.html"
      }]
    }
  +bannerAltern('/assets/img/rebobinado-banner.jpg', 'Rebobinado de')
  main.service
    .service-container
      h3.service__title Motores Eléctricos
      p.service__description Con la reparación, mantenimiento y rebobinado de motores eléctricos en Trujillo, conseguimos dar servicio a muchas empresas que siguen confiando en nuestras reparaciones tras amplios años de experiencia en rebobinados. Contamos con toda la maquinaria necesaria para la reparación de distintos tipos de bobinados eléctricos y máquinas para elaboración de bobinas totalmente automatizadas.
    .service-images
      h3.service-images__title Equipo técnico profesional altamente capacitado para ofrecerte un servicio de calidad
      +imagesService('/assets/img/rebobinado-1.jpg', 'Rebobinado de motores', 'Rebobinado de motores')
      +imagesService('/assets/img/rebobinado-2.jpg', 'Rebobinado de motores', 'Rebobinado de motores')
      +imagesService('/assets/img/rebobinado-3.jpg', 'Rebobinado de motores', 'Rebobinado de motores')
      +imagesService('/assets/img/rebobinado-4.jpg', 'Rebobinado de motores', 'Rebobinado de motores')
  section.contact-us(style='--bg-image: url(/assets/img/rebobinado-contact.jpg);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
