extends /config/template
append config
  -pageTitle = 'Servicio de Grundfos'
  -pageDescription = 'Grundfos es un fabricante de bombas, con sede en Dinamarca, con más de 19,000 empleados en todo el mundo.'
  -ogTitle = 'Servicio de Grundfos | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/servicio-de-grundfos.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/grundfos.jpg'
  -ogImageAlt = 'Servicio de Grundfos | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Servicio de Grundfos",
        "item": "https://elgeza.com/servicios/servicio-de-grundfos.html"
      }]
    }
  +bannerAltern('/assets/img/grundfos-banner.jpg', 'Servicio Técnico')
  main.service
    .service-container
      h3.service__title Autorizado de Grundfos
      p.service__description Grundfos es un fabricante de bombas, con sede en Dinamarca, con más de 18.000 empleados a nivel mundial. La producción anual de más de 12 millones de bombas, bombas de circulación, bombas sumergibles y bombas cetrigufas.
    .service-images
      h3.service-images__title Equipo técnico profesional altamente capacitado para ofrecerle un servicio de calidad.
      +imagesService('/assets/img/grundfos-0.jpg', 'Servicio técnico autorizado de Grundfos', 'Servicio técnico autorizado de Grundfos', '70%')
      +imagesService('/assets/img/grundfos-1.jpg', 'Servicio técnico autorizado de Grundfos', 'Servicio técnico autorizado de Grundfos')
      +imagesService('/assets/img/grundfos-2.jpg', 'Servicio técnico autorizado de Grundfos', 'Servicio técnico autorizado de Grundfos')
      +imagesService('/assets/img/grundfos-3.jpg', 'Servicio técnico autorizado de Grundfos', 'Servicio técnico autorizado de Grundfos')
  section.contact-us(style='--bg-image: url(/assets/img/grundfos-contact.jpg);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
