extends /config/template
append config
  -pageTitle = 'Tableros Electrónicos de Control'
  -pageDescription = 'Realizamos la construcción y mantenimiento de tableros eléctricos de control en Trujillo.'
  -ogTitle = 'Tableros Electrónicos de Control | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/tableros-electricos-de-control.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/tableros.jpg'
  -ogImageAlt = 'Tableros Electrónicos de Control | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Tableros Electrónicos de Control",
        "item": "https://elgeza.com/servicios/tableros-electricos-de-control.html"
      }]
    }
  +bannerAltern('/assets/img/tableros-banner.jpg', 'Tableros Eléctricos de')
  main.service
    .service-container
      h3.service__title Control
      p.service__description Realizamos la construcción y mantenimiento de tableros eléctricos de control en Trujillo. Garantizamos la seguridad bajo las normas que se han establecido. Protegemos los equipos de las condiciones ambientales o propias del proceso de producción.
    .service-images
      h3.service-images__title Equipo técnico profesional altamente capacitado para ofrecerte un servicio de caldidad
      +imagesService('/assets/img/tableros-1.jpg', 'Tableros electrónicos de control', 'Tableros electrónicos de control')
      +imagesService('/assets/img/tableros-2.jpg', 'Tableros electrónicos de control', 'Tableros electrónicos de control')
      +imagesService('/assets/img/tableros-3.jpg', 'Tableros electrónicos de control', 'Tableros electrónicos de control')
      +imagesService('/assets/img/tableros-4.jpg', 'Tableros electrónicos de control', 'Tableros electrónicos de control')
  section.contact-us(style='--bg-image: url(/assets/img/tableros-contact.jpg);')
    .contact-us-container
      p.contact-us__description <span class="contact-us__description--big">Formaremos una relación de confianza</span> <br><span>En todo servicio que ofrecemos, solicitalo ahora y empecemos a trabajar<span>
      p.contact-us__numbers LLÁMANOS AL<br><span class="contact-us__numbers--big"><span>RPM: 998 006 273</span><span>RPC: 992 280 087</span></span>
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
