extends /config/template
append config
  -pageTitle = 'Transformadores de Potencia'
  -pageDescription = 'Servicio profesional de reparación y mantenimiento de transformadores de potencia en Trujillo. '
  -ogTitle = 'Transformadores de Potencia | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios/transformadores-de-potencia.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/transformadores.jpg'
  -ogImageAlt = 'Transformadores de Potencia | Elgeza'


block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Transformadores de Potencia",
        "item": "https://elgeza.com/servicios/transformadores-de-potencia.html"
      }]
    }
  +bannerAltern('/assets/img/transformadores-banner.jpg', 'Transformadores de')
  main.service
    .service-container
      h3.service__title Potencia
      p.service__description Servicio profesional de reparación y mantenimiento de transformadores de potencia en Trujillo. Nuestros productos son construidos por un excelente plantel de profesionales, siendo garantizada por nuestra amplia experiencia en transformadores eléctricos. Los transformadores de gran potencia son proyectados para garantizar alta funcionalidad en las más diversas aplicaciones y sectores del mercado, satisfaciendo las necesidades específicas de las empresas de energía y del sector industrial en general.
    .service-images
      h3.service-images__title Con amplia experiencia en reparación, especializado en la fabricación de transformadores eléctricos.
      +imagesService('/assets/img/transformadores-1.jpg', 'Transformadores de potencia', 'Transformadores de potencia', '80%')
      +imagesService('/assets/img/transformadores-2.jpg', 'Transformadores de potencia', 'Transformadores de potencia')
      +imagesService('/assets/img/transformadores-3.jpg', 'Transformadores de potencia', 'Transformadores de potencia')
  section.contact-us(style='--bg-image: url(/assets/img/transformadores-contact.jpg);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
