button.button,
a.button {
  background: transparent;
  border-radius: 1rem;
  padding: 0.5em 4em;
  outline: 0;
  @include from(m) {
    padding: 0.5em 2em;
  }
  @include from(l) {
    padding: 0.5em 4em;
  }
}

button.button--guinda,
a.button--guinda {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  &:hover {
    background-color: var(--color-second);
    color: var(--color-primary);
  }
}

button.button--yellow,
a.button--yellow {
  border: 1px solid var(--color-second);
  color: var(--color-second);
  &:hover {
    background: var(--color-second);
    color: var(--white);
  }
}

button.button--transparent,
a.button--yellow {
  border: 1px solid var(--white);
  color: var(--white);
  &:hover {
    background: var(--color-second);
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

button.button-contact {
  &:hover {
    background: var(--color-second);
    color: var(--color-primary);
  }
}

a.button-banner {
  background: var(--color-primary);
  color: var(--color-second);
  font-weight: 600;
  border: 1px solid var(--color-second);
  margin-top: 2rem;
  margin-left: 1rem;
}
