.services {
  margin-top: 2rem;
  &__title {
    @include edItem(100);
    text-align: center;
    margin-bottom: 2rem;
  }
}

.services-container {
  @include edContainer;
  text-align: center;
  @include from(m) {
    justify-content: space-around;
  }
}

.services {
  color: var(--color-primary);
}

/* CARD */

.card {
  @include edContainer;
  @include edItem(100, 1/2, 1/4);
  margin-bottom: 2rem;
  &__icon {
    background: var(--color-primary);
    padding: 1rem;
    border-radius: 100%;
  }

  &__title {
    @include from (l) {
      padding: 0 1.5rem;
    }
  }

  &__description {
    color: var(--gray);
  }
}