.main-menu {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @include from(l) {
      display: flex;
    }
  }

  &__link {
    color: var(--black);
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }

  &__item {
    padding: .5em 1em;
    text-align: right;
  }

  &-toggle {
    width: 2rem;
    height: 1.25rem;
    background: linear-gradient(
                black 0,
                black 20%,
                  transparent 20%,
                  transparent 40%,
                black 40%,
                black 60%,
                transparent 60%,
                transparent 80%,
                black 80%,
                black 100%,
                transparent 100%);
    cursor: pointer;
    @include from(l) {
      display: none;
    }
  }
}
.main-header {
  // background: yellow;
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  @include edContainer;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.header-links {
  // background: cyan;
  position: fixed;
  right: 0;
  top: 4rem;
  width: 80vw;
  height: 100%;
  transform: translateX(80vw);

  @include from(l) {
    position: static;
    width: initial;
    transform: translateX(0);
  }
}

.header-brand {
  a {
    font-size: 2.25rem;
    font-weight: 900;
    color: var(--color-primary);
    text-decoration: none;
  }
}
