.skills {
  color: var(--white);
  padding-bottom: 4rem;
  &__description {
    margin-bottom: 1.5rem;
  }
  &__title {
    width: 100%;
    font-size: 2.5rem;
  }
}

.skill-item {
  @include edItem(100, 1/2, 1/4);
  font-size: 1rem;
  margin: 1em 0;
  img {
    margin-bottom: 1em;
    height: 54px;
  }
  h2 {
    font-size: 1em;
    @include from(l) {
      font-size: 1em;
    }
  }
}
