section.customers
  .customers-container
    h2.customers__title Nuestros Clientes
    .swiper-container.swiper-container--customers
      .swiper-wrapper
        .swiper-slide
          img(data-src="/assets/img/marca.png", class="swiper-lazy", alt="Cliente de elgeza 1")
          .swiper-lazy-preloader
        .swiper-slide
          img(data-src="/assets/img/marca.png", class="swiper-lazy", alt="Cliente de elgeza 2")
          .swiper-lazy-preloader
        .swiper-slide
          img(data-src="/assets/img/marca.png", class="swiper-lazy", alt="Cliente de elgeza 3")
          .swiper-lazy-preloader
        .swiper-slide
          img(data-src="/assets/img/marca.png", class="swiper-lazy", alt="Cliente de elgeza 4")
          .swiper-lazy-preloader
        .swiper-slide
          img(data-src="/assets/img/marca.png", class="swiper-lazy", alt="Cliente de elgeza 5")
          .swiper-lazy-preloader
      .swiper-button-prev
      .swiper-button-next