footer.footer
  .main-footer-container
    .main-footer
      .footer__info
        .footer__section-brand elgeza
        p.footer__description
          |Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ea dolore, non qui minima eius magni possimus? Tenetur, alias laboriosam?
      .footer__services
        .footer__section-title Servicios
        .services-list
          ul
            li <span class="vineta"></span>Reparación de motores
            li <span class="vineta"></span>Reparación de motores
            li <span class="vineta"></span>Reparación de motores
          ul
            li <span class="vineta"></span>Reparación de motores
            li <span class="vineta"></span>Reparación de motores
            li <span class="vineta"></span>Reparación de motores
      .footer__contact
        .footer__section-title Información de Contacto
        ul
          li Av. César Vallejo 858 URB. Palermo<br>Trujillo - La Libertad
          li
            a(href="tel:+51992280087") +51 992280087
          li
            a(href="http://www.facebookc.com") elgeza
          li
            a(href="mailto:elgezaonline@gmail.com") elgezaonline@gmail.com
  .secondary-footer-container
    .secondary-footer
      p Copyright - Desarrollado por <a href="https://www.tera.pe">Tera</a>