.main-banner(style="--bg-image: url(/assets/img/inicio.png);")
  //- img(src="/assets/img/inicio.png", alt="Banner principal")
  .banner-container.fade-in-dt
    h1
      |Realizamos procesos <br>productivos
    p
      |Para resolver problemas y darle efectividad a <br>nuestro trabajo y hacerle la vida más sencilla