.main-banner(style="--bg-image: url(/assets/img/grundfos-3.jpg);")
  //- img(src="/assets/img/inicio.png", alt="Banner principal")
  .banner-container.fade-in-dt
    h1
      |CONTÁCTA <br>NUESTRO SERVICIO
    p
      |Para resolver problemas y darle efectividad a <br>nuestro trabajo y hacerle la vida más sencilla