.map
  .map-container
    #map


script.
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var uluru = {lat: -8.1060506, lng: -79.0142701};
    // The map, centered at Uluru
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: uluru,
      disableDefaultUI: true,
    });
    // The marker, positioned at Uluru
    var image = '/assets/img/marker.png'
    var marker = new google.maps.Marker(
      {
        position: uluru, 
        map: map,
        title: 'ELGEZA',
        icon: image,
        animation: google.maps.Animation.DROP,
      }
    );
  }