section.projects
  .projects-container
    .swiper-container.swiper-container--projects
      h2 Nuestros proyectos
      .swiper-wrapper
        .swiper-slide
          h3 Mantenimiento de tableros
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eligendi impedit nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere. Maxime totam culpa fuga quo! nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere.
          a.button.button--yellow Ver Proyecto
        .swiper-slide
          h3 Mantenimiento de tableros
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eligendi impedit nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere. Maxime totam culpa fuga quo! nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere.
          a.button.button--yellow Ver Proyecto
        .swiper-slide
          h3 Mantenimiento de tableros
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium eligendi impedit nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere. Maxime totam culpa fuga quo! nobis? Velit dolore, quas quibusdam nostrum culpa nobis temporibus quod veritatis suscipit ipsa facere.
          a.button.button--yellow(href="#") Ver Proyecto
      .swiper-button-next
      .swiper-button-prev
    .projects__image
      img(src="/assets/img/proyectos.jpg", alt="Proyectos")