section.projects
  .projects-container
    .swiper-container.swiper-container--projects
      h2 Nuestros proyectos
      .swiper-wrapper
        .swiper-slide
          h3 Rebobinado de motores
          p Con nuestro equipo altamente capacitado, desarrolla a través de un proceso todo el mantenimiento y reparación que tus equipos necesitan, logrando el mejor beneficio de cada equipo reparado dejándolo totalmente efectivo para usarse.
          a(href="/servicios/rebobinado-de-motores.html").button.button--yellow Ver Proyecto
        .swiper-slide
          h3 Transformadores de potencia
          p Nuestros productos son diseñados y construidos por un excelente plantel de profesionales en la ciudad de trujillo, dedicados completamente al servicio de todos nuestros clientes. Ralizamos reparación y mantenimiento de todos nuestros servicios.
          a(href="/servicios/transformadores-de-potencia.html").button.button--yellow Ver Proyecto
        .swiper-slide
          h3 Electrobombas sumergibles
          p Brinda el servicio de mantenimiento preventivo y correctivo a bombas de agua utilizando el mejor personal capacitado asi como las mejores herramientas adecuadas para cada tipo de trabajo.
          a(href="/servicios/electrobombas-sumergibles.html").button.button--yellow Ver Proyecto
      .swiper-button-next
      .swiper-button-prev
    .projects__image
      img(src="/assets/img/proyectos.jpg", alt="Proyectos")

