section.services
  .services-container
    h2.services__title.fade-in-td Nuestros Servicios
    +cardService(
      '/assets/img/icon-servicios.png',
      'Rebobinados de Motores',
      'Brindamos el mejor servicio de mantenimiento y reparación con equipos altamente profesionales.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Transformadores de Potencia',
      'Te ayudamos a generar la energía en media y alta tensión logrando que la energía sea distribuida.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Electrobombas Sumergibles',
      'Logramos diseñarlas para trabajar siempre inmersas en el fluido bombeado.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Tableros Eléctricos de Control',
      'Construimos y reparamos controles eléctricos logrando el buen uso y seguridad de tus equipos.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Grupos Electrógenos',
      'Tus equipos van a suministrar energía eléctrica de forma ininterrumpida e instalarlos en lugares abiertos.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Instalaciones Eléctricas',
      'Aseguramos el correcto funcionamiento y conexión con los aparatos eléctricos correspondientes.',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-servicios.png',
      'Servicio Técnico Autorizado de Grundfos',
      'Nos garantiza la mejor empresa Grundfos y su especializado equipo técnico.',
      '#'
    )(class="button button--guinda")
    //- +cardService(
    //-   '/assets/img/icon-1.png',
    //-   'Reparación de equipos electromecánicos',
    //-   'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
    //-   '#'
    //- )(class="button button--guinda")