section.services
  .services-container
    h2.services__title.fade-in-td Nuestros Servicios
    +cardService(
      '/assets/img/rebobinados-service.png',
      'Rebobinados de Motores',
      'Brindamos el mejor servicio de mantenimiento y reparación con equipos altamente profesionales.',
      '/servicios/rebobinado-de-motores.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/potencia-service.png',
      'Transformadores de Potencia',
      'Te ayudamos a generar la energía en media y alta tensión logrando que la energía sea distribuida.',
      '/servicios/transformadores-de-potencia.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/electrobombas-service.png',
      'Electrobombas Sumergibles',
      'Logramos diseñarlas para trabajar siempre inmersas en el fluido bombeado.',
      '/servicios/electrobombas-sumergibles.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/tableros-service.png',
      'Tableros Eléctricos de Control',
      'Construimos y reparamos controles eléctricos logrando el buen uso y seguridad de tus equipos.',
      '/servicios/tableros-electricos-de-control.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/grupo-service.png',
      'Grupos Electrógenos',
      'Tus equipos van a suministrar energía eléctrica de forma ininterrumpida e instalarlos en lugares abiertos.',
      '/servicios/grupos-electrogenos.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/instalaciones-service.png',
      'Instalaciones Eléctricas',
      'Aseguramos el correcto funcionamiento y conexión con los aparatos eléctricos correspondientes.',
      '/servicios/instalaciones-electricas.html'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/grundfos-service.png',
      'Servicio Técnico Autorizado de Grundfos',
      'Nos garantiza la mejor empresa Grundfos y su especializado equipo técnico.',
      '/servicios/servicio-de-grundfos.html'
    )(class="button button--guinda")
    //- +cardService(
    //-   '/assets/img/icon-1.png',
    //-   'Reparación de equipos electromecánicos',
    //-   'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
    //-   '#'
    //- )(class="button button--guinda")