section.services
  .services-container
    h2.services__title.fade-in-td Nuestros Servicios
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")
    +cardService(
      '/assets/img/icon-1.png',
      'Reparación de equipos electromecánicos',
      'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum accusantium debitis officiis iste tempora eaque inventore',
      '#'
    )(class="button button--guinda")