section.skills(style="--bg-image: url(/assets/img/elgeza.png);")
  .skills-container
    h2.skills__title elgeza
    p.skills__description
      |Elgeza es una empresa que cuenta con vasta experiencia en la venta y reparación de equipos electromećanicos, asegurando asi la continuidad de los procesos productivos de sus clientes. Contamos con un equipo de técnicos profesionales, a su vez somos representantes del servicio técnico de Grunfos.
    +skill(
      '/assets/img/icon-diagnostico.png',
      'Diagnóstico y mantenimiento de tus equipos'
    )
    +skill(
      '/assets/img/icon-servicios.png',
      'Nuestros servicios garantizados'
    )
    +skill(
      '/assets/img/icon-herramientas.png',
      'Herramientas adecuadas para dar soluciones'
    )
    +skill(
      '/assets/img/icon-info.png',
      'Contáctanos y solicita la información que deseas'
    )
    a(href="/nosotros.html").button.button--yellow Conoce más