section.skills(style="--bg-image: url(/assets/img/elgeza.png);")
  .skills-container
    h2.skills__title elgeza
    p.skills__description
      |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur possimus in quaerat necessitatibus enim accusantium soluta ullam nobis doloremque voluptatum nemo deleniti, amet deserunt provident magnam, cupiditate ab cum harum?
    +skill(
      '/assets/img/icon.png',
      'Diagn칩stico y mantenimiento de tus equipos'
    )
    +skill(
      '/assets/img/icon.png',
      'Nuestros servicios garantizados'
    )
    +skill(
      '/assets/img/icon.png',
      'Herramientas adecuadas para dar soluciones'
    )
    +skill(
      '/assets/img/icon.png',
      'Cont치ctanos y solicita la informaci칩n que deseas'
    )
    a.button.button--yellow Conoce m치s