extends /config/template
append config
  -pageTitle = 'Contáctanos'
  -pageDescription = 'Comunícate con nosotros a través de distintos tipos de medios.'
  -ogTitle = 'Contáctanos | Elgeza'
  -ogUrl = 'https://elgeza.com/contacto.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/contacto.jpg'
  -ogImageAlt = 'Contáctanos | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Contacto",
        "item": "https://elgeza.com/contacto.html"
      }]
    }
  section.contact
    .contact-container
      h2.contact__title Contáctanos
        hr
      .form-container
        form.contact__form
          input(type="text" placeholder="Nombre", required).contact__input
          input(type="text" placeholder="Apellido", required).contact__input
          input(type="text" placeholder="Servicio", required).contact__input
          input(type="tel", name="", placeholder="Teléfono", required).contact__input
          input(type="email", placeholder="Correo electrónico", required).contact__input
          textarea(name="", cols="30", rows="10", placeholder="Mensaje", required).contact__input
          button(class="button button--guinda button-contact") Enviar
  include /includes/map
