extends /config/template
append config
  -pageTitle = 'Nosotros'
  -pageDescription = 'Diseñamos, reparamos, brindamos mantenimiento e implementamos proyectos con soluciones integrales para todo tipo de empresas.'
  -ogTitle = 'Nosotros | Elgeza'
  -ogUrl = 'https://elgeza.com/nosotros.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/nosotros.jpg'
  -ogImageAlt = 'Nosotros | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Nosotros",
        "item": "https://elgeza.com/nosotros.html"
      }]
    }
  +bannerAltern('/assets/img/nosotros.png', 'Nosotros')
  main.about-us
    .about-us-container
      .about-us__info
        h3.about-us__title ¿Quiénes somos?
        p.about-us__description Elgeza es una empresa que cuenta con vasta experiencia en la venta y reparación de equipos electromecánicos, asegurando así la continuidad de los procesos productivos de sus clientes. Contamos con un equipo de técnicos profesionales, a su vez somos representantes del servicio técnico Grundfos.
      .about-us__image
        img(src="/assets/img/imagen_nosotros.png", alt="Persona en oficina")
      .about-us__info
        h3.about-us__title Misión
        p.about-us__description Diseñar, reparar, brindar mantenimiento e implementar proyectos con soluciones integrales a todo tipo de empresas apoyados en la ingeniería, bajo estrictos estándares de calidad para brindar productos y servicios certificados.
      .about-us__info
        h3.about-us__title Visión
        p.about-us__description Ser una empresa líder especializada en diseñar e implementar proyectos de Ingeniería, infraestructura eléctrica logrando el prestigio y reconocimiento de nuestros clientes, empleados y proveedores a través de un trabajo profesional, innovador y creativo, que incorpore continuamente nuevas tecnologías para satisfacer las necesidades cambiantes del mercado y ofreciendo un alto valor agregado en las soluciones a nuestros clientes.
  include /includes/skills
  include /includes/map
