extends /config/template
append config
  -pageTitle = 'Servicios'
  -pageDescription = 'Conoce nuestros diferentes servicios que ofrecemos.'
  -ogTitle = 'Servicios | Elgeza'
  -ogUrl = 'https://elgeza.com/servicios.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/servicios.jpg'
  -ogImageAlt = 'Servicios | Elgeza'

block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Servicios",
        "item": "https://elgeza.com/servicios.html"
      }]
    }
  +bannerAltern('/assets/img/servicios.png', 'Reparación de Equipos')
  section.contact-us(style='--bg-image: url(/assets/img/elgeza.png);')
    .contact-us-container
      p.contact-us__description Solicita este servicio y nos pondremos en contacto contigo
      a.button.button--yellow(href="contacto.html") Contáctanos Ahora
  include /includes/map
