extends /config/template
append config
  -pageTitle = 'Venta de bombas sumergibles'
  -pageDescription = 'Elgeza te ofrece las mejores bombas sumergibles en Trujillo, contáctanos y cotiza los precios.'
  -ogTitle = 'Venta de bombas sumergibles | Elgeza'
  -ogUrl = 'https://elgeza.com/venta-de-bombas.html'
  -ogImageUrl = 'https://elgeza.com/assets/img/seo/home.jpg'
  -ogImageAlt = 'Venta de bombas sumergibles | Elgeza'


block main
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Elgeza",
        "item": "https://elgeza.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Venta de Bombas",
        "item": "https://elgeza.com/venta-de-bombas.html"
      }]
    }
  +bannerAltern('/assets/img/banner-venta.jpg', 'Venta de bombas')
  main.service
    .service-container
      h3.service__title Sumergibles
      p.service__description Elgeza te ofrece las mejores bombas sumergibles en Trujillo, contáctanos y cotiza los precios.
    .service-images
      //- h3.service-images__title Con amplia experiencia en reparación, especializado en la fabricación de transformadores eléctricos.
      +imagesService('/assets/img/venta-1.jpg', 'Venta de bombas sumergibles', 'Venta de bombas sumergibles')
      +imagesService('/assets/img/venta-2.jpg', 'Venta de bombas sumergibles', 'Venta de bombas sumergibles')
      +imagesService('/assets/img/venta-3.jpg', 'Venta de bombas sumergibles', 'Venta de bombas sumergibles')
      +imagesService('/assets/img/venta-4.jpg', 'Venta de bombas sumergibles', 'Venta de bombas sumergibles')
  section.contact-us(style='--bg-image: url(/assets/img/banner-venta-contact.jpg);')
    .contact-us-container
      p.contact-us__description <span class="contact-us__description--big">Contáctanos y cotiza el precio</span> <br><span>En trujillo te ofrecemos la venta de bomba sumergibles<span>
      p.contact-us__numbers LLÁMANOS AL<br><span class="contact-us__numbers--big"><span>RPM: 998 006 273</span><span>RPC: 992 280 087</span></span>
      a.button.button--yellow(href="/contacto.html") Contáctanos Ahora
  include /includes/map
