.contact-us {
  background: linear-gradient(rgba(#42061c, 0.8), rgba(#42061c, 0.8)),
    var(--bg-image) center;
  background-size: cover;
  margin: 0;
  padding: 4rem 1rem;
  &__description {
    color: var(--white);
    text-align: center;
    &--big {
      color: var(--color-second);
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 0.5em;
      display: inline-block;
    }
  }

  &__numbers {
    color: var(--white);
    text-align: center;
    &--big {
      font-weight: 700;
      font-size: 1.25rem;
      span {
        margin: 0 0.5em;
      }
    }
  }
}

.contact-us-container {
  @include edContainer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
