.contact-us {
  background: linear-gradient(rgba(#42061c, .8), rgba(#42061c, .8)), var(--bg-image) center;
  background-size: cover;
  margin: 0;
  padding: 4rem 1rem;
  &__description {
    color: var(--white);
    text-align: center;
  }
}

.contact-us-container {
  @include edContainer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}