.main-footer, .secondary-footer {
  @include edContainer;
  padding: 1rem 0;
  color: var(--white);
  a {
    color: var(--white);
  }
}

.secondary-footer {
  justify-content: center;
  align-items: center;
  color: var(--white);
  p {
    margin: 0;
  }
  a {
    color: var(--white);
  }
}

.main-footer-container {
  background: var(--color-primary);
}

.secondary-footer-container {
  background: var(--color-bg-primary);
}

.footer {
  &__info {
    @include edItem(100, 100, 1/3);
    @include edContainer;
    flex-direction: column;
    justify-content: space-around;
  }

  &__services {
    @include edItem(100, 100, 1/3);
    @include edContainer;
    flex-direction: column;
  }

  &__contact {
    @include edItem(100, 100, 1/3);
    @include edContainer;
    flex-direction: column;
  }

  &__description {
    text-align: center;
    @include from (l) {
      margin-top: -5rem;
    }
  }

  &__section-brand {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--color-second);
    text-align: center;
    margin-bottom: .5rem;
    @include from(l) {
      margin-top: -2rem;
    }
  }

  &__section-title {
    text-align: center;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    @include from(l) {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

.services-list, .footer__contact {
  ul {
    list-style: none;
    padding: 0;
    @include from(l) {
      text-align: left;
    }
  }
}

.services-list {
  text-align: center;
  @include from(l) {
    display: flex;
    justify-content: space-around;
  }

  ul:first-child {
    margin: 0;
    @include from(l) {
      margin-bottom: calc(var(--vertical-content-space)*1.5);
    }
  }

  li {
    @include from(l) {
      margin-bottom: .5rem;
    }
  }

  .vineta {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: var(--white);
    border-radius: 100%;
    margin-right: .5rem;
  }
}

.footer__contact {
  .footer__section-title {
    @include from (l) {
      text-align: left;
    }
  }
  @include from(l) {
    width: 27%;
  }
  li {
    text-align: center;
    margin-bottom: .5rem;
    @include from(l) {
      display: flex;
      text-align: left;
    }
  }
}

.footer__services {
  @include from (l) {
    flex-grow: 1;
  }
}