.about-us {
  padding-top: 4rem; 
  padding-bottom: 2rem;

  &__info {
    @include edItem(100, 1/2, 1/2);
  }

  &__image {
    @include edItem(100, 1/2, 1/2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__title {
    border-left: .25em solid var(--color-primary);
    padding: 1rem;
    color: var(--color-primary);
    @include from(l) {
      font-size: 2rem;
    }
  }

  &__description {
    color: var(--gray);
    padding: 1.5rem;
    @include from(l) {
      line-height: 24px;
    }
  }
}

.about-us-container {
  @include edContainer;
}