-let pageTitle = 'Home'
-let siteName = 'EDboilerplate'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Nosotros',
      url: '/nosotros.html',
      child: []
    },
    {
      title: 'Servicios',
      url: '/servicios.html',
      child: []
    },
    {
      title: 'Venta de Bombas',
      url: '/#',
      child: []
    },
    {
      title: 'Contáctanos',
      url: '/contacto.html',
      child: []
    }
  ]
