-let pageTitle = 'Home'
-let siteName = 'Elgeza'
-let pageDescription = ''
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Nosotros',
      url: '/nosotros.html',
      child: []
    },
    {
      title: 'Servicios',
      url: '#',
      child: [
        {
          title: 'Electrobombas sumergibles',
          url: '/servicios/electrobombas-sumergibles.html',
          child: []
        },
        {
          title: 'Grupos electrógenos',
          url: '/servicios/grupos-electrogenos.html',
          child: []
        },
        {
          title: 'Instalaciones eléctricas',
          url: '/servicios/instalaciones-electricas.html',
          child: []
        },
        //- {
        //-   title: 'Paneles solares',
        //-   url: '/servicios/paneles-solares.html',
        //-   child: []
        //- },
        {
          title: 'Rebobinado de motores',
          url: '/servicios/rebobinado-de-motores.html',
          child: []
        },
        //- {
        //-   title: 'Reparación de equipos electromecánicos',
        //-   url: '/servicios/reparacion-equipos-electromecanicos.html',
        //-   child: []
        //- },
        {
          title: 'Servicio de grundfos',
          url: '/servicios/servicio-de-grundfos.html',
          child: []
        },
        {
          title: 'Tableros electrónicos de control',
          url: '/servicios/tableros-electricos-de-control.html',
          child: []
        },
        {
          title: 'Transformadores de potencia',
          url: '/servicios/transformadores-de-potencia.html',
          child: []
        }
      ]
    },
    //- {
    //-   title: 'Venta de Bombas',
    //-   url: '/#',
    //-   child: []
    //- },
    {
      title: 'Contáctanos',
      url: '/contacto.html',
      child: []
    }
  ]
